// COLORS

$bg-intro:#1c2431;
$bg-main:#181f2a;
$bg-footer:#0b1523;
$bg-testimonials:#202a3c;
$bg-CTA:linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
$error:#ff4242;

// FONTS
$open-sans:'Open Sans', sans-serif;
$raleway:'Raleway', sans-serif;