*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.head {
  color: white;
  font-family: "Raleway", sans-serif;
}

.text {
  color: rgba(255, 255, 255, 0.623);
  font-family: "Open Sans", sans-serif;
}

.btn {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
  border-radius: 30px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: none;
  padding: 15px 80px;
  cursor: pointer;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#97ebe6), to(#6bc0e4));
  background: linear-gradient(90deg, #97ebe6 0%, #6bc0e4 100%);
}

.hover-img {
  display: none;
}

header {
  padding: 60px 90px 0;
  background-color: #1c2431;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

header nav .logo {
  max-width: 130px;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-links .nav-item {
  color: rgba(255, 255, 255, 0.705);
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  position: relative;
}

header nav .nav-links .nav-item::after {
  content: '';
  background: white;
  height: 1px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 18px;
  bottom: 0;
  left: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

header nav .nav-links .nav-item:hover {
  color: white;
}

header nav .nav-links .nav-item:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .intro {
  text-align: center;
  margin: 0 261.600px;
}

header .intro .intro-img {
  max-width: 560px;
  margin: auto;
}

header .intro .intro-img img {
  width: 100%;
  height: auto;
}

header .intro p {
  line-height: 140%;
}

header .intro .intro-btn {
  margin-top: 20px;
}

main {
  padding: 60px 90px 0;
  background: #181f2a;
  text-align: center;
  position: relative;
}

main .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-gap: 60px 15px;
  margin: 0 120px;
}

main .about .about-item {
  max-width: 350px;
}

main .about .about-item .item-icon {
  height: 70px;
}

main .about .about-item .item-head {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

main .about .about-item .item-para {
  color: rgba(255, 255, 255, 0.705);
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  margin-top: 0;
}

main .illust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0;
}

main .illust .illust-img {
  max-width: 600px;
}

main .illust .illust-img img {
  width: 100%;
  height: auto;
}

main .illust .copy {
  text-align: left;
  max-width: 730px;
}

main .illust .copy h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

main .illust .copy p {
  color: rgba(255, 255, 255, 0.705);
  font-family: "Raleway", sans-serif;
}

main .illust .copy .link {
  color: #62e0d9;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

main .illust .copy .link span {
  margin-right: 10px;
}

main .illust .copy .link::after {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  top: 18px;
}

main .illust .copy .link:hover img {
  display: none;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

main .illust .copy .link:hover .hover-img {
  display: block;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

main .illust .copy .link:hover {
  color: white;
}

main .illust .copy .link:hover:after {
  background: white;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

main .reviews {
  display: -ms-grid;
  display: grid;
  padding: 40px 10px 350px 10px;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
}

main .reviews .review {
  max-width: 420px;
  background: #202a3c;
  border-radius: 5px;
  padding: 5px 30px 25px;
  text-align: left;
  -webkit-box-shadow: 0px 0px 172px -104pxrgb 77, 95, 129;
          box-shadow: 0px 0px 172px -104pxrgb 77, 95, 129;
}

main .reviews .review .text {
  color: rgba(255, 255, 255, 0.705);
}

main .reviews .review-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .reviews .review-profile img {
  width: 50px;
  border-radius: 50%;
}

main .reviews .review-profile .info span {
  display: block;
  margin: 5px  0 5px 10px;
}

main .reviews .review-profile .info .occupation {
  color: rgba(255, 255, 255, 0.705);
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
}

main .banner {
  background: #181f2a;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -100px;
  max-width: 900px;
  -webkit-box-shadow: 0px 20px 31px -7px rgba(3, 4, 5, 0.53);
          box-shadow: 0px 20px 31px -7px rgba(3, 4, 5, 0.53);
  border-radius: 10px;
  padding: 30px;
}

main .banner .text {
  padding: 0 85px;
}

main .banner .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .banner .form input {
  width: 425px;
  padding: 0 30px;
  border-radius: 30px;
  outline: none;
  border: 1px solid transparent;
  margin-right: 30px;
}

main .banner .form .btn {
  padding: 15px 30px;
}

footer {
  padding: 60px 90px;
  background: #0b1523;
}

footer .f-logo {
  margin-bottom: 50px;
}

footer .f-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .75fr .75fr  .5fr;
      grid-template-columns: 1fr .75fr .75fr  .5fr;
}

footer .f-content .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 15px;
}

footer .f-content .location p {
  margin: 0 30px;
}

footer .f-content .location img {
  margin-top: 5px;
}

footer .f-content .contact {
  padding: 0 15px;
}

footer .f-content .contact .contact-item {
  margin-bottom: 20px;
}

footer .f-content .contact img {
  margin-right: 15px;
}

footer .f-content .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 15px;
}

footer .f-content .links .column p {
  margin-top: 0;
}

footer .f-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .f-content .social .facebook, footer .f-content .social .insta, footer .f-content .social .twitter {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

footer .f-content .social .facebook img, footer .f-content .social .insta img, footer .f-content .social .twitter img {
  width: 30px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

footer .f-content .social .facebook:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

footer .f-content .social .facebook:hover img {
  display: none;
}

footer .f-content .social .facebook:hover .hover-img {
  display: block;
}

footer .f-content .social .twitter:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

footer .f-content .social .twitter:hover img {
  display: none;
}

footer .f-content .social .twitter:hover .hover-img {
  display: block;
}

footer .f-content .social .insta:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

footer .f-content .social .insta:hover img {
  display: none;
}

footer .f-content .social .insta:hover .hover-img {
  display: block;
}
/*# sourceMappingURL=style.css.map */